{% extends 'todo/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Update</title>
{% endblock %}

{% block body %}
    <div class="card">

        {# Title Header #}
        <div class="card-header">
            Update Task
        </div>

        {# In-Header Body #}
        <div class="card-body">

            {# In-Header Title #}
            <div class="row">
                <div class="col-10">
                    <h5 class="card-title inline mb-1 ">Task</h5>
                </div>
                <div class="col-2">
                    <h5 class="text-center mb-1">Completed</h5>
                </div>
            </div>


            {# TESTING Input and Button #}
            <form action="" method="post">
                {% csrf_token %}
                {# INPUT CHECK ROW #}
                <div class="row">
                    {# TEXT BOX #}
                    <div class="col-10">
                        {{ form.task }}
                    </div>
                    {# CHECK BOX #}
                    <div class="col-2">
                        {{ form.completed }}
                    </div>
                </div>

                {# BACK AND UPDATE ROW#}
                <div class="row">
                    <div class="col mt-4">
                        <a href="{% url 'index' %}" class="btn btn-info"><- Go Back</a>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{# TODO border IN THE BUTTON MAKES IT FLICKER #}
{# TODO OLD BUTTON <button type="submit" class="btn btn-primary "><i class="fas fa-check fa-2x"></i></button>#}